<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This is my first every personalized CSS site"
    />
    <title>Abhinav Dubey</title>
    <link rel="stylesheet" href="css/styles2.css" />
    <link rel="icon" href="favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&family=Sacramento&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="topcontainer">
      <img class="top-cloud" src="images/cloud.png" alt="clouds-img" />
      <h1>I'm Abhinav</h1>
      <h2>a <span class="pro">pro</span>grammer</h2>
      <img class="bottom-cloud" src="images/cloud.png" alt="cloud-img" />
      <img src="images/mountain.png" alt="mountain-img" />
    </div>

    <!-- <div class="middlecontainer"></div>

    <div class="bottomcontainer"></div> -->

    <div class="middle-container">
      <hr class="rule" />
      <div class="profile">
        <img src="images/Abhinav Dubey.png" alt="profile-img" />
        <h2>Hello.</h2>
        <p>
          I am a pre final year student at IIT Roorkee. A learner, coder &
          thinker
        </p>
      </div>
      <hr class="rule" />
      <div class="skills">
        <h2>My Skills.</h2>
        <div class="skill-row">
          <img
            class="dev"
            src="https://media0.giphy.com/media/bGgsc5mWoryfgKBx1u/giphy.gif?cid=ecf05e47hk11pkz92zycu7ikygs3acymlmzb5dqoh6nwdt53&rid=giphy.gif&ct=g"
            alt="development-img"
          />
          <h3>Development & Coding</h3>
          <p class="skills-description1">
            I love to code and solve problems. I am also proficient in Data
            Structures & Algorithms.
          </p>
        </div>
        <div class="skill-row">
          <img
            class="prblm"
            src="https://media3.giphy.com/media/ZtOa0Ko8WYoHtVIwnK/giphy.gif?cid=ecf05e47cttk0dfk14cy0scr7vsql9vynbwuvfna3h07ie8l&rid=giphy.gif&ct=g"
            alt=""
          />
          <h3>Problem Solving</h3>
          <p class="skills-description2">
            I consider myself good in problem solving.
          </p>
        </div>
      </div>
      <hr class="rule" />
      <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>Wanna have some talks & beers?</h3>
        <p>Wanna have some talks & beers? Let us code while we have beers...</p>
        <button class="btn" href="mailto:dubeyabhinav.abd@gmail.com">
          Contact Me!
        </button>
      </div>
    </div>

    <div class="bottom-container">
      <a
        class="footer-link"
        href="https://www.linkedin.com/in/abhinav-dubey-56a498241/"
        >LinkedIn</a
      >
      <a class="footer-link" href="https://www.instagram.com/abhinav_dubeyy_/"
        >Instagram</a
      >
      <a class="footer-link" href="https://abhinav_dubey.com">Website</a>
      <p class="copyright">© Abhinav Dubey (ABDish)</p>
    </div>
  </body>
</html>
