<%- include("header") -%>

<div class="input-zone">
    <h1> Compose</h1>
<form action="/" method="post">

  <label for="inputlg"> <h6> Title</h6></label>
  <input class="form-control input-lg" type="text" name="title" />
  <label for="inputlg"><h6> Description</h6></label>
  <textarea
    class="form-control"
    id="exampleFormControlTextarea1"
    rows="6"
    name="content"
  ></textarea>
  <button type="submit">Submit</button>
  </div>
</form>

<%- include ("footer") -%>
